* {
    padding: 0;
    margin: 0;
}
body {
    margin: 50px;
}
p{
    margin: 10px 0 10px 0;
}
ul {
    list-style: none;
}
li {
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}
.wrapper {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.invisible {
    display: none;
}
.crossed {
    text-decoration: line-through;
}